<button type="button" id="cashflow_button" class="btn btn-default" (click)="open(modalcashflow)">CashFlow</button>
    <ng-template #modalcashflow let-c="close" let-d="dismiss" >
        <div class="modal-header modal-header-primary">
            <h4 class="modal-title">{{ 'Cashflow de rendas' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'Data' | translate }}</th>
                    <th>{{ 'Capital Inicial' | translate }}</th>
                    <th>{{ 'Valor' | translate }}</th>
                    <th>{{ 'Capital' | translate }}</th>
                    <th>{{ 'Juro' | translate }}</th>
                    <th>{{ 'Imposto' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let c of cashflow">
                    <th>{{ c.datainiper | date: 'dd-MM-yyyy' }}</th>
                    <td>{{ c.capinicio }}</td>
                    <td>{{ c.valor }}</td>
                    <td>{{ c.juro }}</td>
                    <td>{{ c.capital }}</td>
                    <td>{{ c.imposto }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="c('Cross click')">Fechar</button>
        </div>
    </ng-template>

