<div [@routerTransition]>
    <app-modalerror #modalerror [Header]="errorHeader" [Mensagem]="errorMessage" [isError]="isError"></app-modalerror>
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="card ">
        <div class="card-header card-header-audaxys">
            <h4>{{ 'Volume de negócio' | translate }}</h4>
        </div>
        <div class="card-block">
            <div *ngIf="isDataAvailable">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header card-header-audaxys">
            <h4>{{ 'Condições Climáticas' | translate }}</h4>
        </div>
        <div class="card-block">
            <weather-widget [settings]="settings"></weather-widget>

        </div>
    </div>
</div>
