<ng-template #modalerror let-c="close" let-d="dismiss" >
    <div class="modal-header" [class.modal-header-primary]="isError==false" [class.modal-header-danger]="isError==true">
        <h4 class="modal-title" id="errmsg-header">{{ Header | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p id="errmsg-usermsg">{{ Mensagem | translate }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" id="errmsg-button" class="btn btn-success" (click)="clickedOK()">{{ 'OK' | translate }}</button>
        <button type="button" id="errmsg-cancel" class="btn btn-danger" [hidden]="isHidden" (click)="clickedCancel()">{{ 'Cancelar' | translate }}</button>
    </div>
</ng-template>
